.dg-picture-zoom{
	cursor : url(http://www.dhtmlgoodies.com/scripts/picture-zoom/cursors/magnify-plus.cur), pointer !important;
}
.dg-picture-zoom-large{
	cursor : url(http://www.dhtmlgoodies.com/scripts/picture-zoom/cursors/magnify-minus.cur), pointer !important;

}

.dg-picture-zoom-border-container{
    border: 2px solid #FFF;
    background-color: #FFF;
    box-shadow:10px 10px 20px #000000;
    border-radius: 5px;
}

.dg-picture-zoom{
	background-position:left;
}


